#intro{
    height: calc(100vh-4rem);
    width: 100vw;
    max-width: 750px;
    margin: 0 auto;
   overflow: hidden;
   position: relative;
}
.bg{
    position:absolute;
    top:-4rem;
    right:0;
    z-index:-1;
    object-fit:cover;
    height:400vh;
}
.introContent{
    height:100%;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}